In [1]:
3+3

6

In [3]:
print('kittpogi23')

kittpogi23

In [5]:
a=5

In [7]:
a+a

10

In [8]:
a+a-25

-15

In [9]:
a=a+a

In [10]:
a=5

In [11]:
a

5

In [12]:
a=a+2

In [14]:
a

7

In [16]:
a

7

In [17]:
type(a)

int

In [18]:
a=30.2

In [19]:
type(a)

float

In [20]:
'hello'

'hello'

In [21]:
a=10

In [22]:
a

10

In [31]:
a=a+a

In [32]:
a

160

In [25]:
a

20

In [33]:
'hello'

'hello'

In [34]:
'world'

'world'

In [35]:
'this is also a string'

'this is also a string'

In [37]:
print('hello world one')
print('hello world two')

hello world one
hello world two

In [38]:
print ('hello \n world')

hello
 world

In [40]:
print ('hello \nworld')

hello
world

In [41]:
cls

NameError: name 'cls' is not defined

In [42]:
clr

NameError: name 'clr' is not defined

In [43]:
len('hello')

5

In [44]:
len('kitt')

4

In [45]:
len('kitt pogi')

9

In [46]:
mystring='hello world'

In [47]:
mystring

'hello world'

In [48]:
mystring[1:]

'ello world'

In [49]:
mystring[1]

'e'

In [50]:
mystring[-1]

'd'

In [53]:
mystring = 'abcdefghijk'

mystring

In [54]:
mystring

'abcdefghijk'

In [55]:
mystring[:]

'abcdefghijk'

In [56]:
mystring[2:]

'cdefghijk'

In [57]:
mystring[2:4]

'cd'

In [58]:
mystring[:3]

'abc'

In [59]:
mystring[::2]

'acegik'

In [60]:
mystring[::4]

'aei'

In [61]:
mystring[2:7:2]

'ceg'

In [62]:
mystring

'abcdefghijk'

In [63]:
mystring[::-1]

'kjihgfedcba'

In [64]:
mystring[::-2]

'kigeca'

In [1]:
name = 'sam'

In [2]:
name

'sam'

In [4]:
name[1:]

'am'

In [5]:
last_letters = name[1:]

In [6]:
'p' + last_letters

'pam'

In [7]:
x = 'Hello world'

In [11]:
x = x + ' it is beautiful outside'

In [12]:
x

'Hello world it is beautiful outside'

In [13]:
letter = 'z'

In [14]:
letter*10

'zzzzzzzzzz'

In [15]:
x = 'hello world'

In [16]:
x.upper

In [17]:
x

'hello world'

In [18]:
x.upper()

'HELLO WORLD'

In [19]:
x.split()

['hello', 'world']

In [20]:
x = 'this is a string'

In [22]:
x.split('i')

['th', 's ', 's a str', 'ng']

In [23]:
print('this is a string {}'.format('INSERTED'))

this is a string INSERTED

In [26]:
print('The {2} {1} {0}'.format('fox', 'brown','quick'))

The quick brown fox

In [30]:
print('The {q} {b} {f}'.format(f='fox', b='brown', q='quick'))

The quick brown fox

In [31]:
print('The {k} {p} {x}'.format(k='kitt', p='pogi', x='23'))

The kitt pogi 23

In [35]:
results = 100/777

In [40]:
results

0.1287001287001287

In [41]:
print('The result was {}'.format(results))

The result was 0.1287001287001287

In [42]:
print('The result was {r}'.format(r=results))

The result was 0.1287001287001287

In [44]:
print('The result was {r:1.3f}'.format(r=results))

The result was 0.129

In [45]:
my_list = [1,2,3]

In [46]:
my_list

[1, 2, 3]

In [47]:
len(my_list)

3

In [1]:
my_list

NameError: name 'my_list' is not defined

In [2]:
my_list = [1,2,3]

In [3]:
my_list

[1, 2, 3]

In [4]:
my_list [0]

1

In [5]:
my_list[1:]

[2, 3]

In [6]:
new_list = [4,5,6]

In [7]:
my_list + new_list

[1, 2, 3, 4, 5, 6]

In [8]:
new_list[0]= 'one'

In [9]:
new_list

['one', 5, 6]

In [10]:
new_list[0] = 'four'

In [11]:
new_list

['four', 5, 6]

In [12]:
print(new_list)

['four', 5, 6]

In [13]:
print("new_list")

new_list

In [14]:
new_list

['four', 5, 6]

In [15]:
my_list+new_list

[1, 2, 3, 'four', 5, 6]

In [16]:
new_list.append(7)

In [17]:
new_list

['four', 5, 6, 7]

In [18]:
new_list.append(8)

In [19]:
new_list

['four', 5, 6, 7, 8]

In [20]:
new_list[0] = 4

In [21]:
new_list

[4, 5, 6, 7, 8]

In [22]:
my_list + new_list

[1, 2, 3, 4, 5, 6, 7, 8]

In [27]:
new_list.append(9)

In [28]:
new_list

[4, 5, 6, 7, 8, 9, 9, 9, 9]

In [29]:
new_list.pop()

9

In [30]:
new_list

[4, 5, 6, 7, 8, 9, 9, 9]

In [31]:
my_list

[1, 2, 3]

In [32]:
new_list

[4, 5, 6, 7, 8, 9, 9, 9]

In [33]:
new_list.pop()

9

In [34]:
new_list.pop()

9

In [35]:
new_list

[4, 5, 6, 7, 8, 9]

In [36]:
popped_item = new_list.pop()

In [37]:
new_list

[4, 5, 6, 7, 8]

In [38]:
popped_item

9

In [39]:
new_list

[4, 5, 6, 7, 8]

In [40]:
popped_item = new_list.pop()

In [41]:
new_list

[4, 5, 6, 7]

In [42]:
new_list

[4, 5, 6, 7]

In [43]:
popped_item

8

In [44]:
new_list.pop(0)

4

In [45]:
new_list

[5, 6, 7]

In [46]:
my_list + new_list

[1, 2, 3, 5, 6, 7]

In [53]:
new_list = ['a','b','c','f','h','l']
num_list = ['1','3','23','56','23.25']

In [54]:
new_list.sort()

In [55]:
new_list

['a', 'b', 'c', 'f', 'h', 'l']

In [56]:
num_list.sort()

In [57]:
num_list

['1', '23', '23.25', '3', '56']

In [59]:
new_list.sort()

In [60]:
new_list

['a', 'b', 'c', 'f', 'h', 'l']

In [61]:
new_list.sort()
my_sorted_list = new_list

In [62]:
my_sorted_list

['a', 'b', 'c', 'f', 'h', 'l']

In [63]:
num_list

['1', '23', '23.25', '3', '56']

In [64]:
num_list = ['2.25','3.256','3.21','5.55','3.21']

In [65]:
num_list

['2.25', '3.256', '3.21', '5.55', '3.21']

In [66]:
num_list.sort()
my_sorted_list = num_list

In [67]:
my_sorted_list

['2.25', '3.21', '3.21', '3.256', '5.55']

In [68]:
num_list.reverse()

In [69]:
num_list

['5.55', '3.256', '3.21', '3.21', '2.25']

In [70]:
num_list[0]

'5.55'

In [71]:
num_list[]

SyntaxError: invalid syntax (<ipython-input-71-5fd852a77a28>, line 1)

In [72]:
num_list[1:]

['3.256', '3.21', '3.21', '2.25']

In [73]:
num_list

['5.55', '3.256', '3.21', '3.21', '2.25']

In [74]:
num_list[::2]

['5.55', '3.21', '2.25']

In [75]:
num_list[0] = '1.235'

In [76]:
num_list

['1.235', '3.256', '3.21', '3.21', '2.25']

In [77]:
num_list.reverse()

In [78]:
num_list

['2.25', '3.21', '3.21', '3.256', '1.235']

In [79]:
my_dict = {'key1':'value1', 'key2':'value2'}

In [80]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [81]:
my_dict['key1']

'value1'

In [84]:
prices_lookup = {'apple':2.99, 'bananas':1.24, 'oranges':1.26}

In [83]:
prices_lookup['apple']

'2.99'

In [85]:
d = {'k1':123, 'k2':[1,2,3], 'k3':{'insidekey':100}}

In [86]:
d[k1]

NameError: name 'k1' is not defined

In [87]:
d['k1']

123

In [88]:
d['k2']

[1, 2, 3]

In [89]:
d['k3']

{'insidekey': 100}

In [90]:
d['k3']['insidekey']

100

In [91]:
d = {'key1':['a','b','c']}

In [92]:
d

{'key1': ['a', 'b', 'c']}

In [93]:
d['key1'][2].upper()

'C'

In [94]:
d['key1']

['a', 'b', 'c']

In [95]:
d['key1'][1]

'b'

In [96]:
letter.upper()

NameError: name 'letter' is not defined

In [97]:
d

{'key1': ['a', 'b', 'c']}

In [98]:
d['key1'] = 1.23

In [99]:
d

{'key1': 1.23}

In [100]:
d = {'key1':100, 'key2':200}

In [101]:
d

{'key1': 100, 'key2': 200}

In [102]:
d['k3'] = 300

In [103]:
d

{'key1': 100, 'key2': 200, 'k3': 300}

In [104]:
d

{'key1': 100, 'key2': 200, 'k3': 300}

In [105]:
d.keys()

dict_keys(['key1', 'key2', 'k3'])

In [106]:
d.values()

dict_values([100, 200, 300])

In [107]:
d.items()

dict_items([('key1', 100), ('key2', 200), ('k3', 300)])

In [108]:
d

{'key1': 100, 'key2': 200, 'k3': 300}